// .tree-view {
//   background-color: aqua;
// }

// .no-underline {
//   text-decoration: none !important;
// }

// .no-box-shadow {
//   box-shadow: none !important;
// }

// .node-is-dragging {
//   background-color: red;
// }

// .opacity-0 {
//   opacity: 0 !important;
// }

// .main-content {
//   padding-top: 5rem;
// }

// .tree-node-hovered {
//   background-color: cyan !important;
// }

// [draggable='true'] {
//   border: 1px double gainsboro;
// }

$top-nav-bar-height: 50px;

.navbar {
  height: $top-nav-bar-height;
}

.editor-wrapper {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.editor-content-wrapper {
  position: relative;
  top: $top-nav-bar-height;
  height: calc(100% - #{$top-nav-bar-height});
}

// .active {
//   border: 1px solid #3899ec;
// }

.current-hovered {
  outline: 2px solid #0888c8;
  outline-offset: -2px;
}

.col {
  min-height: 100px;
}
