.tree-view {
  background-color: aqua;
}

.no-underline {
  text-decoration: none !important;
}

.no-box-shadow {
  box-shadow: none !important;
}

.node-is-dragging {
  background-color: red;
}

.opacity-0 {
  opacity: 0 !important;
}

.main-content {
  padding-top: 5%;
}
